<!DOCTYPE html>
<html lang="en" ng-app="listApp">
<head>
	<meta charset="UTF-8">
	<title>Welcome to the app</title>
	<link rel="stylesheet" href="assets/css/foundation.min.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link rel="stylesheet" href="assets/icons/foundation-icons.css">
	
	<script src="assets/js/angular.min.js"></script>
	<script src="scripts/listas.js"></script>
</head>
<body>
	
	<div class="row">
		<div class="small-12 columns">
			<div class="row">
				<div class="small-7 columns"></div>
				<div class="small-5 columns">
					<div class="expanded button-group">
						<a href="#" class="button">
							<i class="fi-home"></i> Inicio
						</a>
						<a href="#" class="button secondary">
							<i class="fi-list"></i> Productos
						</a>
						<a href="#" class="button secondary">
							<i class="fi-graph-trend"></i> Reportes
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 small-centered columns">
			<div class="row">
				<div class="small-3 columns">
					<div class="menu vertical">
						<li><a href="#" class="button">
								<i class="fi-plus"></i>Agregar
							</a></li>
						<li><a href="#" class="button">
								<i class="fi-minus"></i>Eliminar
							</a></li>
					</div>
				</div>
				
				<div class="small-9 columns">
					<div class="row">
						<div class="small-12 columns">
							<div class="row">
								<div class="small-8 columns">
									<input type="text" placeholder="Producto" ng-model="query">
								</div>
								<div class="small-2 columns">
									<i class="fi-magnifying-glass button expanded"></i>
								</div>
								<div class="small-2 columns"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<table class="responsive" ng-controller="ListCtrl">
								<thead>
									<tr>
										<th width="150">Item</th>
										<th width="100">Cantidad</th>
										<th width="200">Producto</th>
										<th width="200">Presentación</th>
										<th width="150">Precio</th>
										<th>Guardar</th>
									</tr>
								</thead>
								<tbody ng-init="quantity=0">
									<tr ng-repeat="lista in listas | filter:query" >
										<td>{{ lista.item }}</td>
										<td><input type="number" id="quantity" ng-model="quantity"></td>
										<td ng-model="descrip">{{ lista.product }}</td>
										<td>{{ lista.presentation }}</td>
										<td>{{ lista.price | currency}}</td>
										<td class="text-center" ng-click="guardar(lista.id, quantity)">
											<i class="fi-save button expanded"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	
	
</body>
</html>